.mat-sidenav {
    background-color: var(--tone-2);
}

.side-nav-item {
    padding: 1rem;
}

.side-nav-item:hover {
    color: var(--tone-7);
    background-color: var(--tone-3);
}

.mat-sidenav-content {
    padding: 0.5rem;
}