.mat-sidenav {
  background-color: var(--tone-2);
}

.side-nav-item {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.side-nav-item:hover {
  color: var(--tone-7);
  background-color: var(--tone-3);
}

.mat-drawer-container {
  background-color: inherit;
  color: inherit;
}

.mat-toolbar {
  font-family: inherit;
  background-color: var(--tone-4);
  color: inherit;
}

.example-spacer {
  flex: 1 1 auto;
}
