@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --tone-1: #002029;
  --tone-2: #00303d;
  --tone-3: #004052;
  --tone-4: #005066;
  --tone-5: #00607A;
  --tone-6: #007fa2;
  --tone-7: #56a5bb;
}

* {
  scrollbar-width: 2rem;
  scrollbar-color: dark;
  transition: 200ms;
}

body {
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: 'Ubuntu';
  line-height: 1.25;
  background-color: var(--tone-1);
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 2rem;
  font-family: 'Quicksand';
  color: var(--tone-7);
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

a {
  color: var(--tone-6);
  text-decoration: none;
}

a:hover {
  color: var(--tone-5);
}

code {
  font-family: 'Consolas';
  line-height: 1.5;
  color: #79e6ff;
  background-color: #00171d;
  padding: 0.1rem 0.3rem;
  border-radius: 0.3rem;
}
