<div class="col note">
    <div class="row header">
        <h6>{{ note.title }}</h6>
    </div>
    <div class="row content">
        <div class="col content-wrapper">
            <div class="row file-info">
                <span class="file">{{ note.fileName }}</span> : <span class="line">{{ note.line }}</span>
            </div>
            <div class="row description">
                <p [innerHTML]="note.description"></p>
            </div>
        </div>
    </div>
    <div class="row footer">
        <div class="time">{{ note.time }}</div>
    </div>
</div>
